<% if can? :manage, @aplikace %>
	<%= link_to 'Administrace', rails_admin.dashboard_path %>
<% end %>

<% 
   @aplikaces.each do |aplikace| 
		@aplikace = aplikace 
%>
<label for="">Navigation built in Rails App styled in assets/stylesheets/layout.sass</label>
<ul class="navigation">
  <li><a href="/">Home</a></li>
  <li><a href="/">Contacts</a></li>
  <li><a href="/">Blog</a></li>
  <li><a href="/">Twitter</a></li>
  <li><a href="/">Facebook</a></li>
</ul>
<label for="">Web Component navigation built with &lt;my-navigation&gt; tag</label>
<my-navigation></my-navigation>
		<%= render 'show' %>

	<% end %>